
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    background-image: url("../images/cUHelzE.png");

}

.rgb-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, red, yellow, green, cyan, blue, magenta, red);
    background-size: 400%;
    animation: rgbAnimation 30s linear infinite;
    z-index: 10;
}

@keyframes rgbAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.login-box {
    width: 600px;
    padding: 2%;
    border-radius: 8px;
    background-color: rgb(21,21,20);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.input-container {
    position: relative;
    margin: 20px 0;
    width: 300px;
}

.input {
    width: 100%;
    padding: 10px 10px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    color: white;
}

.label {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 16px;
    color: #888;
    transform: translateY(-50%);
    background-color: transparent;
    padding: 0 5px;
    transition: all 0.2s ease-in-out, background-color 0.2s ease-in-out;
    pointer-events: none;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    top: 0.1px;
    font-size: 12px;
    color: white;
    background-color: rgb(21,21,20);
    padding: 0 5px;
    opacity: 1;
}

.input:focus::placeholder,
.input:not(:placeholder-shown)::placeholder {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.input:focus {
    border-color: white;
}

.input-container {
    position: relative;
    width: 100%;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #212120;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: #111111;
}

button[type="submit"]:focus {
    outline: none;
}

p {
    margin-bottom: 5%;
    text-align: center;
}

.error{
    text-align: center;
    color: red;
}

.warning{
    font-size: 100px;
}